.drink-menu-btn1{
    width: 100px;
    height: 30px;
    border: 1px solid #834D1E;
    border-right: 0;
    background: #FCF2DE;
}

.drink-menu-btn2{
    width: 100px;
    height: 30px;
    border: 1px solid #834D1E;
    background: #FCF2DE;
}

.drink-menu-btn3{
    width: 100px;
    height: 30px;
    border: 1px solid #834D1E;
    background: #FCF2DE;
    border-left: 0;
}

.drink-menu-btn-active{
    z-index: 1;
    position: relative;
    width: 100px;
    height: 30px;
    border: #834D1E;
    background: #834D1E !important;
    color: #FCF2DE;
    transform: scale(1.1, 1.1) !important;
    border-radius: 10px !important;
}