body{
    background: wheat;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    color: #834D1E;
    font-family: 'DynaPuff', cursive;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}